@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
 --background: linear-gradient(to bottom right, #fdf3ff, #ffffff);
  --foreground: #171717;
  /* --primary: #531D6F; */
--primary: #820ad1;
  --secondary: #ffffff;
   --heading: linear-gradient(to right, #531D6F, #8B5CF6);
  --font-jost: "Jost", sans-serif;
  --font-lexend: "Lexend", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-jost: var(--font-jost);
  --font-lexend: var(--font-lexend);
  --color-heading: var(--heading);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jost); /* You can change this to var(--font-lexend) wherever needed */
}

@layer utilities {
  .custom-border-animate::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid #A970D7;
    transform: scaleX(0) scaleY(0);
    transform-origin: bottom left;
    transition: transform 0.5s ease-in-out;
    border-radius: 0.75rem; /* match Tailwind rounded-xl */
    z-index: 0;
    pointer-events: none;
  }

  .group:hover .custom-border-animate::before {
    transform: scaleX(1) scaleY(1);
  }

    .bg-heading-gradient {
    background: var(--heading);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}